DATABASE_URL=postgresql://username:password@localhost:5433/noteflow_notes

PORT=3003
NODE_ENV=development

AUTH_SERVICE_URL=http://localhost:3001
TAGS_SERVICE_URL=http://localhost:3004

JWT_SECRET=your-jwt-secret

CORS_ORIGIN=http://localhost:3000
CORS_CREDENTIALS=true